node_modules/
dist/
.env
.DS_Store
.prisma/
*.env
eslint.config.js
prettier.config.js
.eslintignore
.prettierignore
src/config/firebase/firebase-service-account.json
ui/
public/
# Dockerfile.*  
# Dockerfile 
# .dockerignore
# docker-compose*.yml
coverage/
